# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# VSCode
.vscode/

# Node.js (프론트)
node_modules/
dist/
build/

# Python
__pycache__/
.venv/
*.pyc

.elasticbeanstalk/app_versions/

# Secrets
application-secret-dev.yml
*.env
api-server/bin/
api-server/build/

# build outputs
api-server/bin/
api-server/build/
api-server/.gradle/
