option_settings:
    aws:ec2:instances:
        InstanceTypes: t3a.small
    aws:autoscaling:launchconfiguration:
        RootVolumeSize: "16"
        RootVolumeType: gp3
        RootVolumeIOPS: 3000
        RootVolumeThroughput: 125
    aws:elasticbeanstalk:application:
        Application Healthcheck URL: /health
    aws:elasticbeanstalk:environment:process:default:
        Port: '80'
    aws:autoscaling:asg:
        MinSize: '1'
        MaxSize: '1'
    aws:elb:policies:HTTPSRedirect:
        Enable: false