/* 회원가입 css */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 80px;
    width: var(--logo-size);
    margin-bottom: 110px;

    /* 버튼과 왼쪽 정렬 */
    align-self: flex-start;
    margin-left: calc(50% - 210px);
}

.logo:hover {
    cursor: pointer;
}

.wrapper button {
    width: 400px;
    height: 40px;
    padding: 10px;
    margin-bottom: 70px;
    border-radius: 50px;
    text-align: center;
    background: linear-gradient(to bottom, #6759B6, #4A3BA1);
}

.wrapper button:hover {
    opacity: 0.9;
}

.loginRedirect p {
    margin-right: 10px;
}

.loginRedirect a {
    color: var(--color-primary);
}

.loginRedirect a:hover {
    font-weight: bold;
}

.loginRedirect {
    display: flex;
    margin-bottom: 40px;
}