.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.textWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.textWrapper p {
    margin: 0;
    padding: 0;
    color: var(--color-gray50);
}

.line {
    border: none;
    height: 1px;
    width: 120px;
    background-color: var(--color-gray30);
}

.snsImgBox img {
    height: 80px;
}

.snsImgBox img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.snsImgBox img:nth-child(2) {
    margin: 0 20px;
}