@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
}

.prose img {
  width: 100%;
  height: auto; /* 이미지 비율 유지를 위해 추가 */
  margin-top: 1em; /* 위아래 여백 추가 (선택 사항) */
  margin-bottom: 1em;
}

/* input type="number"의 기본 화살표(spinner) 숨기기 */
.hide-number-arrows::-webkit-outer-spin-button,
.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-arrows {
  -moz-appearance: textfield; /* Firefox */
}